@import "tailwindcss";

body {
  font-family: Inter, Helvetica, sans-serif;
  @apply text-brand-black dark:text-brand-white;
}

@layer base {
  h1 {
    @apply text-5xl font-semibold;
  }

  h2 {
    @apply text-xl font-medium;
  }

  h3 {
    @apply text-base;
  }

  p {
    @apply mb-4 text-sm leading-relaxed;
  }

  li {
    @apply mt-0 text-xs;
  }

  h1,
  h2,
  h3,
  p,
  li {
    /* Apply theme-aware text colour globally */
    @apply text-brand-black dark:text-brand-white;
  }

  a {
    @apply underline underline-offset-2 font-bold
           text-[--color-brand-main] dark:text-[--color-brand-bg];
  }
}

@theme {
  --color-brand-main: #0055e6;
  --color-brand-bg: #fefdfc;
  --color-brand-black: #2b2626;
  --color-brand-white: #fefdfc;
  --animate-blink-text: blink 2s steps(2, start) infinite;

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    51%,
    100% {
      opacity: 0;
    }
  }
}
