@import "tailwindcss";

body {
  font-family: Inter, Helvetica, sans-serif;
  color: white;
}

@layer base {
  h1 {
    @apply text-5xl font-semibold tracking-wide;
  }

  h2 {
    @apply text-xl font-medium tracking-tight;
  }

  h3 {
    @apply text-base;
  }

  p {
    @apply mb-4 text-sm;
  }

  li {
    @apply mt-0 text-xs;
  }

  a {
    @apply underline underline-offset-2;
  }
}

@theme {
  --color-brand-main: #ffff00;
  --color-brand-bg: #25292a;
  --animate-blink-text: blink 2s steps(2, start) infinite;

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    51%,
    100% {
      opacity: 0;
    }
  }
}
